@font-face {
  font-family: "Tahoma2";
  src: url("../fnt/tahoma.ttf") format("truetype");
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

@font-face {
  font-family: "IBMVGA8";
  src: url("../fnt/ibm_vga8.eot");
  src: url("../fnt/ibm_vga8.eot?#iefix") format('embedded-opentype'),
       url("../fnt/ibm_vga8.woff2") format('woff2'),
       url("../fnt/ibm_vga8.woff") format('woff'),
       url("../fnt/ibm_vga8.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
  font-family: "Tahoma2", Tahoma;
  font-weight: normal;
  line-height: 1;
  padding:0;
  margin:0;
  /*background: url(../img/bg.png) center center fixed;*/
  background-color: #137f7a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
  font-size: 15px;
  width: 80%;
  margin:auto;
  overflow:hidden;
}

.desktop-icon {
  overflow: hidden;
  position: fixed;
  margin: 4px;
  overflow: hidden;
  font-size: 12px;
  color: #ffffff;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.desktop-icon .icon {
  position: relative;
  z-index: 1;
}

.desktop-icon .shortcut {
  position: relative;
  z-index: 2;
  top: 8px;
  left: -68px;
  margin-right: -50px;
}

.desktop-icon center{
  position: relative;
  margin-top: 8px;
  margin-bottom: -12px;
}

/*--------------VAPORWAVE WINDOWS--------------*/
.vaporwave {
  font-size: 12px;
  color: #070707;

}
.vaporwave .media img{
  width:40px;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 1;
}

.vaporwave .window {
  width: 400px;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
}
.vaporwave .window .content {
  padding: 7px 10px;
}
.vaporwave .window .header {
  margin: 2px 2px 0;
  padding: 1px 2px;
  color: #fff;
  background: -webkit-linear-gradient(left, #000080, #1084d0);
  background: linear-gradient(to right, #000080, #1084d0);
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transform: translate3d(0, 0, 0)
  -webkit-text-smoothing: subpixel-antialiased!important;
}
.vaporwave .window .header .icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 2px;
}
.vaporwave .window .header .buttons {
  height: 14px;
  float: right;
}

.vaporwave .window .header .buttons button {
  vertical-align: text-top;
  font-weight: bold;
  line-height: 12px;
  padding: 0;
  height: 14px;
  width: 14px;
}

.vaporwave button {
  font-size: 12px;
  color: #070707;
  text-align: center;
  outline: none;
  padding: 4px;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
}

.vaporwave button:enabled {
  color: #070707;
}

.vaporwave button:disabled {
  color: #818181;
  text-shadow: 1px 1px #fff;
}

.vaporwave button:active:enabled {
  box-shadow: 0 0 0 0 #000 inset;
  border-top-color: #000;
  border-left-color: #000;
  border-right-color: #000;
  border-bottom-color: #000;
}

.vaporwave .window .header .minimize {
  background: url("../img/minimize.png");
  position: absolute;
  width:15px;
  height:15px;
  left: 95%;
  padding: 2px;
}

/*.vaporwave .resizable {
  overflow: auto;
  resize: both;
}*/

#window2 {
  position: fixed;
  left: 20%;
  top: 25%;
}

#window2 .window{
  width: 250px;
}

#window2 .window .header .minimize {
  left: 92%;
}

#window2 .media img{
  width: 48px;

}

#window2 p{
  position: relative;
  margin-top: 18px;
  margin-left: 10px;
}


#window1 .window {
  width: 300px;
  height: 320px;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  overflow: hidden;
}
#window1 .window .content {
  padding: 7px 10px;
  overflow: hidden;
}

#window1 .window .header .minimize {
  background: url("../img/minimize.png");
  position: absolute;
  width:15px;
  height:15px;
  left: 93.2%;
  padding: 2px;
}

#window1 {
  position: fixed;
  left:42.2%;
  top:20%;
}

footer {
    font-size: 12px;
    font-family: "Tahoma2", Verdana;
    color: #070707;
    background-color: #bfbfbf;
    border-top: : 1px solid;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 28px;
    width: 100%;
    overflow: hidden;
}

#taskbar-startmenu {
  position: absolute;
  left: 3px;
  /*top:-65.5%;*/
  bottom: 26px;
  width: 200px;
  height: 300px;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  z-index: 1
}

#taskbar-startmenu .startmenugraybox {
  position: absolute;
  background-color: #808080;
  height: 26px;
  width: 297px;
  top: 135px;
  right: 36px;
  transform: rotate(-90deg);
  z-index:-1;
}

#taskbar-startmenu .startmenugraybox p {
  color: #bfbfbf;
  font-weight: 600;
  position: relative;
  font-size: 22px;
  position: relative;
  /*left:-28%;*/
  margin-top:3px;
  margin-left:5px;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transform: translate3d(0, 0, 0)
  -webkit-font-smoothing: subpixel-antialiased;
}

#taskbar-startmenu .startmenubutton button{
  font-size: 14px;
  position:absolute;
  background-color: #bfbfbf;
  color:#000000;
  border: none;
  height:50px;
  width:170px;
  left:27px;
  padding-left: 0px;
  padding-right: 50px;
}

#taskbar-startmenu .startmenubutton button .icon{
width: 32px;
height: 32px;
margin-right: 5px;
}

#taskbar-startmenu .startmenubutton button:hover{
  background-color: #000080;
  color:#fff;
}

#taskbar-startmenu #projectsbutton {
  top:0px;
}

#taskbar-startmenu #contactbutton {
  top:50px;
}

#taskbar #clock{
  position:absolute;
  padding-bottom: 8px;
  top:1px
  bottom:1px;
  /*left: 96%;
  right:2%;*/
  right:5px;
  color: #000000;
  background-color: #bfbfbf;

  border: 1px inset;
  border-top-color: #b3b3b3;
  border-left-color: #b3b3b3;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  margin: 2px;
  line-height: 16px;
  height: 90%;
  padding-top: 2px;
}

#taskbar .start-button img{
  padding-top: 1px;
  width:20px;
  height:20px;
}

#taskbar .start-button button{
  position: absolute;
  letter-spacing: 1px;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  margin: 2px;
  box-shadow: 1px 1px 0 0 #000;
  font-weight: 900;
  -webkit-text-stroke: 0.30px;
  font-size: 12px;
  line-height: 16px;
  padding-left: 2px;
  padding-right: 2px;
  height: 90%;
  padding-top: 2px;
}

#taskbar .start-button button:active{
  box-shadow: .5px 1px 0 0 #000 inset;
  border-top-color: #404040;
  border-left-color: #404040;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  left:1px;
  top:1px;
}

#taskbar .start-button .button-active {
  box-shadow: 1px 1.5px 0 0 #000 inset;
  border-top-color: #404040;
  border-left-color: #404040;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  left:1px;
  top:1px;
}

#taskbar .task-projectlist button{
  position: absolute;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  margin: 2px;
  box-shadow: 1px 1px 0 0 #000;
  font-size: 13px;
  line-height: 16px;
  padding-left: 2px;
  padding-right: 40px;
  height: 90%;
  margin-left: 75px;
  width: 150px;
  overflow: hidden;
}

#taskbar .task-projectlist button:active{
  box-shadow: 0 0 0 0 #000 inset;
  border-top-color: #000;
  border-left-color: #000;
  border-right-color: #000;
  border-bottom-color: #000;
}

#taskbar .task-projectlist img{
  width: 16px;
  height: 16px;
}

#taskbar .task-contact button{
  position: absolute;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  margin: 2px;
  box-shadow: 1px 1px 0 0 #000;
  font-size: 13px;
  line-height: 16px;
  padding-left: 2px;
  padding-right: 65px;
  height: 90%;
  margin-left: 230px;
  width: 150px;
  overflow: hidden;
}

#taskbar .task-contact button:active{
  box-shadow: 0 0 0 0 #000 inset;
  border-top-color: #000;
  border-left-color: #000;
  border-right-color: #000;
  border-bottom-color: #000;
}

#taskbar .task-contact img{
  width: 16px;
  height: 16px;
}

@media only screen and (max-width:500px) {
  #taskbar .task-contact button {
    padding-left: 2px;
    padding-right: 65px;
    margin-left: 175px;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
  }

  #taskbar .task-projectlist button {
    padding-left: 2px;
    padding-right: 65px;
    margin-left: 75px;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
  }

  #window1 {
    left:8%;
    top:15%;
  }

  #window2 {
    left:8%
    top:20%;
  }
}

.bios{
  font-family: "IBMVGA8";
  font-size:16px;
  position: relative;
  background-color: #000000;
  height: 100vh;
  z-index: 10;
}

.bios p{
  color:#ffffff;
}

.bios img{
  display:inline-block;
  float:left;
  width:91.16px;
  height:53.33px;
}

.bios .manufacturer{
  position:relative;
  margin-left:20px;
  top:40px;
  animation: boot .3s 1;
  animation-timing-function: steps(1,end);
}

.bios .manufacturer p {
  position: relatives;
  margin-left: 120px;
  padding-top: 10px;
  animation: boot .6s 1;
  animation-timing-function: steps(1,end);
}

.bios .info{
  padding-left: 20px;
  padding-top: 60px;
  animation: boot 1s 1;
  animation-timing-function: steps(1,end);
}

.bios .info2{
  animation: boot 1.5s 1;
  animation-timing-function: steps(1,end);
}

@keyframes boot {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}
